/* Expanded product details */
.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    background: rgba(0,0,0,.5);
}

.shopCart,
.expandedItem {
  position: fixed;
  z-index: 4;
  left: 15%;
  bottom: 5%;
  width: 80vw;
  background-color: #FFDF90;
  border: 3px solid #264653;
  border-radius: 18px;
  max-width: 1500px;
  max-height: 90vh;
  overflow: scroll;
  overflow-x: hidden;
  /* hiding scrollbar but keeping functionality */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

  /* Hide scrollbar for Chrome, Safari and Opera */
  .shopCart:-webkit-scrollbar,
  .expandedItem:-webkit-scrollbar {
    display: none;
}

.expandedItem {
  overflow: hidden;
}

.closeButton{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 5px;
  right: 5px;
  font-size: 20px;
  border-radius: 50%;
  color: #EE7766;
  background-color: #264653;
  border: 2px solid transparent;
  z-index: 5;
  cursor: pointer;
}

.closeButton:hover,
.closeButton:focus{
  color: #264653;
  background-color: #EE7766;
  border: 2px solid #264653;
}

.expandedImage {
  height: 100%;
  width: 80%;
  background-color: #FFFFFF;
  border-radius: 0 0 20px 0;
  padding: 2%;
}

.expandedImage img{
  max-height: 500px;
  width: 100%;
  object-fit: contain;
}

.expandedInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3%;
  margin: 0 auto;
}

.expandedBubble {
  padding: 5%;
  margin-bottom: 10%;
}

.addToCart {
  margin-top: 20%;
  padding: 10%;
  cursor: pointer;
  border: 2px solid #264653;
}

.addToCart:hover,
.addToCart:focus{
  color: #264653;
  background-color: #EE7766;
  border: 2px solid #264653;
}

.expandedImgInfo {
  height: 50%;
  display: flex;  
}


.expandedDesc {
  height: 50%;
}

.expandedTitle {
  color: #264653;
  font-size: 20px;
  margin: 2% 0 5% 0;
}
