/* Shopping favourites section  */
.closedFavourites {
    color: #252422;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 4;
    cursor: pointer;
  }
  
  .favouritesTriangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-top: 100px solid #F4A261; 
  }
  
  .favouritesTriangle:hover,
  .favouritesTriangle:focus {
    border-top: 100px solid #EB5E28; 
  }

  .favouritesNumberBubble {
    background-color: #FFFCF2;
    position: fixed;
    top: 2px;
    right: 45px;
    z-index: 10;
    border-radius: 50%;
  }

  .favouritesNumber {
    font-weight: bold;
    padding: 5px 10px;
  }
  
  
  .favouritesHeart {
    font-size: 50px;
    position:fixed;
    right: 10px;
    top: 0px;
    z-index: 10;
  }
  
  .yourFavourites {
    color: #252422;
  }
  
  .emptyFavourites {
    text-align: center;
    padding: 0;
    margin: 0 0 10% 0;
  }
  
  .favouritesItem {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2%;
    margin: 3% 0;
    margin-right: 0;
    border: 2px solid #252422;
    border-radius: 18px;
  }

  
  
  .favouritesImage {
    background-color: #FFFFFF;
    height: 100px;
    width: 100px;
    min-width: 100px;
    border-radius: 18px;
    overflow: hidden;
  }
  
  .favouritesImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
  }
  
  .favouritesInfo {
    width: 100%;
    margin: 0 2%;
  }
  
  .favouritesBubble {
    text-align: center;
    background-color: #252422;
    width: 85px;
    border-radius: 18px;
    padding: 1.5% 3%;
    margin-top: 5px;
  }
  
  .favouritesPrice {
    color: #FFFCF2;
    font-weight: bold;
  }
  
  .descNull {
    display: none;
  }

  .favDetails,
  .favouritesRemove {
    border: #252422 1px solid;
    border-radius: 18px;
    cursor: pointer;
  }
  
  .favDetails:focus,
  .favDetails:hover,
  .favouritesRemove:focus,
  .favouritesRemove:hover {
    color: #252422;
    background-color: #EB5E28;
  }
  .favouritesRemove {
    padding: 3%;
  }

  .remove1 {
    display: none;
  }
  
  .favDetails {
    margin-top: 10px;
    padding: 2%;
  }

  favCloseButton {
    z-index: 6;
  }

  @media screen and (max-width: 480px)  {
    .favouritesItem {
      font-size: 14px;
      padding: 0;
      flex-direction: column;
      text-align: center;
    }
    .favouritesItem button {
      padding: 4%;
    }

    .favouritesTitle {
      margin-top: 10px;
    }

    .favouritesRemove {
      margin: 10px 0;
    }
    
    .remove1 {
      display: inline-block;
      margin-left: 25%;
    }

    .remove2 {
      display: none;
    }



  }
  