/* Header and footer styling */
.header, 
.footer {
  width: 100%;
  background-color: #264653;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Stops horizontal scroll from triangle shape */
  overflow: hidden; 
}

.imageTriangle {
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-bottom: 200px solid #F4A261;
}

/* Main section */
main {
  display: flex;
}

.loading {
  text-align: center;
  width: 100%;
  height: 20%;
  color: #264653;
}

.loadRipple {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
}
.loadRipple div {
  opacity: 1;
  position: absolute;
  border: 4px solid #264653;
  border-radius: 50%;
  animation: loadRipple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loadRipple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes loadRipple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
