/* Side Nav */
.sideNav { 
    color: #FFFCF2;
    background-color: #252422;
  }
  
  .sideNav {
    text-align: center;
    width: 15%;
    min-width: 90px;
    padding-bottom: 14%;
  }
  
  .navWrapper {
    width: 100%;
    position: sticky;
    position: -webkit-sticky; /* for Safari */
    top:0;
  }

  .countForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin: 20% auto;
  }

  .countForm label {
    width: 85%;
    margin: 0 auto;
  }

  .countInput {
    text-align: center;
    font-size: 20px;
    width: 50%;
    padding: 10px 0;
    margin: 20px auto;
  }
  
  .submit {
    font-size: 20px;
    color: #FFFCF2;
    background-color: transparent;
    width: 100%;
    border: none;
    border-bottom: #EB5E28 2px solid;
    border-top: #EB5E28 2px solid;
    padding: 10% 4%;
    cursor: pointer;
  }
  
    /* Class for CSS "fill" effect  */
  .btn-slide {
    position: relative;
    z-index: 1;
  }
  
  /* The "fill" that hapens on focus and hover is a pseudoclass that transforms to the right, going from the scaleX of 0 to 1*/
  .btn-slide::before {
    content: "";
    background-color:#2A9D8F;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index:-5;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
    transform-origin: left;
  }
  
  .btn-slide:hover::before, 
  .btn-slide:focus::before {
    transform: scaleX(1)
  }
  
  .descriptionExplain {
    width: 80%;
    margin: 0 auto;
  }

  .repoLink,
  .repoLink .fab ,
  .repoLink:visited {
    color: #EB5E28;
    padding: 20px 0;
  }

  .repoLink .fab:hover,
  .repoLink .fab:focus,
  .repoLink:hover,
  .repoLink:focus {
    color: #FFFCF2;
  }


  @media screen and (max-height: 590px)  {
    /* Error handling: if screen is too small vertically, can still scroll through to repo */
    .sideNav {
      overflow: scroll;
    }
  }

  @media screen and (min-width: 480px)  {
    /* Error handling: if screen is too small vertically, can still scroll through categories, loses sticky property */
    
  .repoLink,
  .repoLink .fab {
    padding: 0;
  }
  
  .repoLink .fab {
    margin-top: 10px;

  }


  }
  